/* General */

body {
	font-family: "Bitter", sans-serif;
	color: #c9dff3;
	background-color: rgb(54, 54, 73);
}

a {
	color: #ff7b00;
	text-decoration: none;
}

a:hover {
	color: #ff9431;
	text-decoration: none;
}

@supports (font-variation-settings: normal) {
	h1, h2, h3, h4, h5, h6 {
		font-family: "Fira Code VF", monospace;
	}
}

p {
	color: #c9dff3;
}

.button {
	transition: all 0.4s ease-in-out;
}

.button:hover {
	transform: scale(1.2);
}

.vertical-center {
	min-height: 100vh;
	display: flex;
	align-items: center;
}


/* Back to top button */

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #ff7b00;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
	transition: all 0.4s;
}

.back-to-top:hover {
	background: #ff9431;
}

.back-to-top i:hover {
	color: rgb(54, 54, 73);
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}


/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: rgb(54, 54, 73);
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #ff7b00;
	border-top-color: #eef7ff;
	border-bottom-color: #eef7ff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* Disable aos animation delay on mobile devices */

@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}


/* Header */

#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9997;
	transition: all 0.5s;
	padding: 15px;
	overflow-y: auto;
}

@media (max-width: 992px) {
	#header {
		width: 300px;
		background: rgb(54, 54, 73);
		border-right: 1px solid rgb(86, 86, 117);
		left: -300px;
	}
}

@media (min-width: 992px) {
	#main {
		margin-left: 100px;
	}
}


/* Navigation Menu */

/* Desktop Navigation  */

.nav-menu {
	padding: 0;
	display: block;
}

.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
}

.nav-menu a, .nav-menu a:focus {
	display: flex;
	align-items: center;
	color: #c9dff3;
	padding: 10px 18px;
	margin-bottom: 8px;
	transition: 0.3s;
	font-size: 15px;
	border-radius: 50px;
	background: #cecece7a;
	height: 56px;
	width: 100%;
	overflow: hidden;
	transition: 0.3s;
}

.nav-menu a i, .nav-menu a:focus i {
	font-size: 20px;
}

.nav-menu a span, .nav-menu a:focus span {
	padding: 0 5px 0 7px;
	color: #c9dff3;
}

@media (min-width: 992px) {
	.nav-menu a, .nav-menu a:focus {
		width: 56px;
	}
	.nav-menu a span, .nav-menu a:focus span {
		display: none;
		color: #eef7ff;
	}
}

.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
	color: #eef7ff;
	background: #ff9431;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
	color: #eef7ff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
	width: 100%;
	color: #eef7ff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
	display: block;
}

/* Mobile Navigation */

.mobile-nav-toggle {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 28px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 0;
	cursor: pointer;
	border-radius: 50px;
	padding: 5px;
}

.mobile-nav-toggle i {
	color: #45505b;
}

.mobile-nav-active {
	overflow: hidden;
	background-color: rgb(54, 54, 73);
}

.mobile-nav-active #header {
	left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
	background-color: #ff7b00;
}


/* Background with particles.js */

#particles-bg {
	opacity: 0.3;
	z-index: -25;
	width: 100%;
	height: 100vh;
}


/* Hero Section */

#hero {
	width: 100%;
	height: 100vh;
	background: url("../img/hero-bg.jpg") top right no-repeat;
	background-size: cover;
	position: relative;
}

@media (min-width: 992px) {
	#hero {
		padding-left: 160px;
	}
}

#hero:before {
	content: "";
	background: rgba(54, 54, 73, 0.8);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #eef7ff;
}

@supports (font-variation-settings: normal) {
	#hero p {
		color: #ebebeb;
		margin: 15px 0 0 0;
		font-size: 26px;
		font-family: "Fira Code VF", monospace;
	}
}


#hero p span {
	color: #ff7b00;
}

#hero .social-links {
	margin-top: 30px;
}

#hero .social-links a {
	font-size: 24px;
	display: inline-block;
	color: #98afc7;
	line-height: 1;
	margin-right: 20px;
	transition: 0.3s;
}

#hero .social-links a:hover {
	color: #ff7b00;
}

@media (max-width: 992px) {
	#hero {
		text-align: center;
	}
	#hero h1 {
		font-size: 32px;
		line-height: 36px;
	}
	#hero p {
		margin-top: 10px;
		font-size: 20px;
		line-height: 24px;
	}
}


/* Sections */

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #eef7ff;
}

.section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #ff7b00;
	bottom: 0;
	left: calc(50% - 20px);
}

.section-title p {
	margin-bottom: 0;
	color: #eef7ff;
}


/* About */

.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: rgb(101, 101, 165);
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.about .content ul strong {
	margin-right: 10px;
}

.about .content ul i {
	font-size: 16px;
	margin-right: 5px;
	color: #ff7b00;
	line-height: 0;
}

.about .content p:last-child {
	margin-bottom: 0;
}


/* Facts */

.facts .count-box {
	padding: 30px 30px 25px 30px;
	margin-top: 30px;
	width: 100%;
	position: relative;
	border-radius: 15px;
	text-align: center;
	background: rgb(54, 54, 73);
}

.facts .count-box i {
	position: absolute;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 24px;
	background: #ff7b00;
	color: #ebebeb;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.facts .count-box span {
	font-size: 36px;
	display: block;
	font-weight: 600;
	color: #ebebeb;
}

@supports (font-variation-settings: normal) {
	.facts .count-box p {
		padding: 0;
		margin: 0;
		font-family: "Fira Code VF", monospace;
		font-size: 14px;
	}
}


/* Skills */

.skills .progress {
	height: 60px;
	display: block;
	background: none;
	border-radius: 0;
}

@supports (font-variation-settings: normal) {
	.skills .progress .skill {
		padding: 10px 0;
		margin: 0;
		text-transform: uppercase;
		display: block;
		font-weight: 600;
		font-family: "Fira Code VF", monospace;
		color: #ebebeb;
	}
}

.skills .progress .skill .val {
	float: right;
	font-style: normal;
}

.skills .progress-bar-wrap {
	background: #ebebeb;
}

.skills .progress-bar {
	width: 1px;
	height: 10px;
	transition: 0.9s;
	background-color: #ff7b00;
}


/* Resume */

.resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgb(101, 101, 165);
}

.resume .resume-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #ff7b00;
	position: relative;
}

@supports (font-variation-settings: normal) {
	.resume .resume-item h4 {
		line-height: 18px;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		font-family: "Fira Code VF", monospace;
		color: #ff7b00;
		margin-bottom: 10px;
	}
}

.resume .resume-item h5 {
	font-size: 16px;
	background: rgb(101, 101, 165);
	border-radius: 10px;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}

.resume .resume-item ul {
	padding-left: 20px;
}

.resume .resume-item ul li {
	padding-bottom: 10px;
}

.resume .resume-item:last-child {
	padding-bottom: 0;
}

.resume .resume-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #ff7b00;
}

.download-button {
	font-size: 17px;
	font-weight: 600;
	color: #f8f8f2;
	background: #ff7b00;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	border-width: 0px;
	transition: 0.5s;
	margin-top: 20px;
}

.download-button:hover {
	background: #ebebeb;
	color: #ff7b00;
}


/* Portfolio */

.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio #portfolio-flters {
	padding: 0;
	margin: 0 auto 25px auto;
	list-style: none;
	text-align: center;
	background: rgb(54, 54, 73);
	border-radius: 50px;
	padding: 2px 15px;
}

.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: rgb(101, 101, 165);
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
	color: #ff7b00;
}

.portfolio #portfolio-flters li:last-child {
	margin-right: 0;
}

.portfolio .portfolio-wrap {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	left: 30px;
	right: 30px;
	top: 30px;
	bottom: 30px;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
	display: block;
	content: "";
	width: 48px;
	height: 48px;
	position: absolute;
	top: 35px;
	left: 35px;
	border-top: 3px solid #d7dce1;
	border-left: 3px solid #d7dce1;
	transition: all 0.5s ease 0s;
	z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
	display: block;
	content: "";
	width: 48px;
	height: 48px;
	position: absolute;
	bottom: 35px;
	right: 35px;
	border-bottom: 3px solid #d7dce1;
	border-right: 3px solid #d7dce1;
	transition: all 0.5s ease 0s;
	z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	color: #45505b;
	font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
	color: #eef7ff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
	text-align: center;
	z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
	color: #45505b;
	margin: 0 2px;
	font-size: 28px;
	display: inline-block;
	transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
	color: #ff9431;
}

.portfolio .portfolio-wrap:hover::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
	top: 15px;
	left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
	bottom: 15px;
	right: 15px;
}


/* Portfolio Details */

.portfolio-details {
	padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
	width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #ff7b00;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #ff7b00;
}

.portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
	margin-top: 10px;
}

.portfolio-details .portfolio-description {
	padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
	padding: 0;
}


/* Services */

.services .icon-box {
	text-align: center;
	width: 100%;
	padding: 70px 20px 80px 20px;
	transition: all ease-in-out 0.3s;
	background: rgb(78, 78, 104);
	box-shadow: 0px 5px 90px 0px rgba(116, 116, 151, 0.2);
}

.services .icon-box .icon {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 0.3s;
	position: relative;
}

.services .icon-box .icon i {
	font-size: 36px;
	transition: 0.5s;
	position: relative;
}

.services .icon-box .icon svg {
	position: absolute;
	top: 0;
	left: 0;
}

.services .icon-box .icon svg path {
	transition: 0.5s;
	fill: #f5f5f5;
}

.services .icon-box h4 {
	font-weight: 600;
	margin: 10px 0 15px 0;
	font-size: 22px;
}

.services .icon-box h4 a {
	color: rgb(101, 101, 165);
	transition: ease-in-out 0.3s;
}

.services .icon-box p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.services .icon-box:hover {
	border-color: #fff;
	box-shadow: 0px 0 35px 0 rgba(46, 46, 46, 0.1);
}

.services .iconbox-blue i {
	color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
	color: #fff;
}

.services .iconbox-blue:hover .icon path {
	fill: #47aeff;
}

.services .iconbox-orange i {
	color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
	color: #fff;
}

.services .iconbox-orange:hover .icon path {
	fill: #ffa76e;
}

.services .iconbox-pink i {
	color: #e80368;
}

.services .iconbox-pink:hover .icon i {
	color: #fff;
}

.services .iconbox-pink:hover .icon path {
	fill: #e80368;
}

.services .iconbox-yellow i {
	color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
	color: #fff;
}

.services .iconbox-yellow:hover .icon path {
	fill: #ffbb2c;
}

.services .iconbox-red i {
	color: #ff5828;
}

.services .iconbox-red:hover .icon i {
	color: #fff;
}

.services .iconbox-red:hover .icon path {
	fill: #ff5828;
}

.services .iconbox-teal i {
	color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
	color: #fff;
}

.services .iconbox-teal:hover .icon path {
	fill: #11dbcf;
}


/* Projects */

.projects .section-header {
	margin-bottom: 40px;
}

.projects .projects-carousel, .projects .projects-slider {
	overflow: hidden;
}

.projects .project-item {
	text-align: center;
}

.projects .project-item .project-img {
	width: 120px;
	border-radius: 50%;
	border: 4px solid #fff;
	margin: 0 auto;
}

.projects .project-item h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #c9dff3;
}

.projects .project-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0 0 15px 0;
}

.projects .project-item .quote-icon-left, .projects .project-item .quote-icon-right {
	color: #90c8fc;
	font-size: 26px;
}

.projects .project-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.projects .project-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}

.projects .project-item p {
	font-style: italic;
	margin: 0 auto 15px auto;
	color: #eef7ff;
}

.projects .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.projects .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #ff7b00;
}

.projects .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #ff7b00;
}

@media (min-width: 992px) {
	.projects .project-item p {
		width: 80%;
	}
}


/* Contact */

.contact .info {
	width: 100%;
	background: rgb(54, 54, 73);
}

.contact .info i {
	font-size: 20px;
	color: #ff9431;
	float: left;
	width: 44px;
	height: 44px;
	background: #eef7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: rgb(101, 101, 165);
}

.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #eef7ff;
}

.contact .info .email, .contact .info .phone {
	margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
	background: #ff7b00;
	color: #fff;
}

.contact .php-email-form {
	width: 100%;
	background: rgb(54, 54, 73);
}

.contact .php-email-form .form-group {
	padding-bottom: 8px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #c9dff3;
	background: #eb4f4f;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: rgb(54, 54, 73);
	background: #53ff5c;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: rgb(54, 54, 73);
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
	border-radius: 10px;
	box-shadow: none;
	font-size: 14px;
	color: #363649;
	background-color: #c9dff366;
}

.contact .php-email-form input {
	height: 44px;
}

.contact .php-email-form textarea {
	padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
	background: #ff7b00;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
	background: #ff9431;
	color: rgb(54, 54, 73);
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.disabled-area {
	pointer-events: none;
}


/* Footer */

#footer {
	color: #eef7ff;
	font-size: 14px;
	text-align: center;
	padding: 30px 0;
}

@supports (font-variation-settings: normal) {
	#footer h3 {
		font-size: 36px;
		font-weight: 700;
		position: relative;
		font-family: "Fira Code VF", monospace;
		padding: 0;
		margin: 0 0 15px 0;
	}
}

#footer p {
	font-size: 15;
	font-style: italic;
	padding: 0;
	margin: 0 0 40px 0;
}

#footer .social-links {
	margin: 0 0 40px 0;
}

#footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #ff9431;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .social-links a:hover {
	background: #ff7b00;
	color: rgb(54, 54, 73);
	text-decoration: none;
}

.animated-gradient {
	border-radius: 20px;
	background-color: rgb(54, 54, 73);
	-webkit-animation-name: animateBg;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	animation-name: animateBg;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-timing-function: linear;
}

@-webkit-keyframes animateBg {
	0% {
		background: linear-gradient(0deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	1% {
		background: linear-gradient(3.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	2% {
		background: linear-gradient(7.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	3% {
		background: linear-gradient(10.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	4% {
		background: linear-gradient(14.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	5% {
		background: linear-gradient(18deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	6% {
		background: linear-gradient(21.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	7% {
		background: linear-gradient(25.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	8% {
		background: linear-gradient(28.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	9% {
		background: linear-gradient(32.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	10% {
		background: linear-gradient(36deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	11% {
		background: linear-gradient(39.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	12% {
		background: linear-gradient(43.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	13% {
		background: linear-gradient(46.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	14% {
		background: linear-gradient(50.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	15% {
		background: linear-gradient(54deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	16% {
		background: linear-gradient(57.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	17% {
		background: linear-gradient(61.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	18% {
		background: linear-gradient(64.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	19% {
		background: linear-gradient(68.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	20% {
		background: linear-gradient(72deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	21% {
		background: linear-gradient(75.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	22% {
		background: linear-gradient(79.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	23% {
		background: linear-gradient(82.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	24% {
		background: linear-gradient(86.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	25% {
		background: linear-gradient(90deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	26% {
		background: linear-gradient(93.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	27% {
		background: linear-gradient(97.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	28% {
		background: linear-gradient(100.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	29% {
		background: linear-gradient(104.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	30% {
		background: linear-gradient(108deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	31% {
		background: linear-gradient(111.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	32% {
		background: linear-gradient(115.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	33% {
		background: linear-gradient(118.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	34% {
		background: linear-gradient(122.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	35% {
		background: linear-gradient(126deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	36% {
		background: linear-gradient(129.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	37% {
		background: linear-gradient(133.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	38% {
		background: linear-gradient(136.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	39% {
		background: linear-gradient(140.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	40% {
		background: linear-gradient(144deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	41% {
		background: linear-gradient(147.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	42% {
		background: linear-gradient(151.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	43% {
		background: linear-gradient(154.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	44% {
		background: linear-gradient(158.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	45% {
		background: linear-gradient(162deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	46% {
		background: linear-gradient(165.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	47% {
		background: linear-gradient(169.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	48% {
		background: linear-gradient(172.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	49% {
		background: linear-gradient(176.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	50% {
		background: linear-gradient(180deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	51% {
		background: linear-gradient(183.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	52% {
		background: linear-gradient(187.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	53% {
		background: linear-gradient(190.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	54% {
		background: linear-gradient(194.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	55% {
		background: linear-gradient(198deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	56% {
		background: linear-gradient(201.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	57% {
		background: linear-gradient(205.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	58% {
		background: linear-gradient(208.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	59% {
		background: linear-gradient(212.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	60% {
		background: linear-gradient(216deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	61% {
		background: linear-gradient(219.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	62% {
		background: linear-gradient(223.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	63% {
		background: linear-gradient(226.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	64% {
		background: linear-gradient(230.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	65% {
		background: linear-gradient(234deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	66% {
		background: linear-gradient(237.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	67% {
		background: linear-gradient(241.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	68% {
		background: linear-gradient(244.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	69% {
		background: linear-gradient(248.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	70% {
		background: linear-gradient(252deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	71% {
		background: linear-gradient(255.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	72% {
		background: linear-gradient(259.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	73% {
		background: linear-gradient(262.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	74% {
		background: linear-gradient(266.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	75% {
		background: linear-gradient(270deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	76% {
		background: linear-gradient(273.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	77% {
		background: linear-gradient(277.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	78% {
		background: linear-gradient(280.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	79% {
		background: linear-gradient(284.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	80% {
		background: linear-gradient(288deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	81% {
		background: linear-gradient(291.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	82% {
		background: linear-gradient(295.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	83% {
		background: linear-gradient(298.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	84% {
		background: linear-gradient(302.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	85% {
		background: linear-gradient(306deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	86% {
		background: linear-gradient(309.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	87% {
		background: linear-gradient(313.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	88% {
		background: linear-gradient(316.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	89% {
		background: linear-gradient(320.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	90% {
		background: linear-gradient(324deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	91% {
		background: linear-gradient(327.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	92% {
		background: linear-gradient(331.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	93% {
		background: linear-gradient(334.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	94% {
		background: linear-gradient(338.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	95% {
		background: linear-gradient(342deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	96% {
		background: linear-gradient(345.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	97% {
		background: linear-gradient(349.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	98% {
		background: linear-gradient(352.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	99% {
		background: linear-gradient(356.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	100% {
		background: linear-gradient(360deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
}

@keyframes animateBg {
	0% {
		background: linear-gradient(0deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	1% {
		background: linear-gradient(3.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	2% {
		background: linear-gradient(7.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	3% {
		background: linear-gradient(10.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	4% {
		background: linear-gradient(14.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	5% {
		background: linear-gradient(18deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	6% {
		background: linear-gradient(21.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	7% {
		background: linear-gradient(25.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	8% {
		background: linear-gradient(28.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	9% {
		background: linear-gradient(32.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	10% {
		background: linear-gradient(36deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	11% {
		background: linear-gradient(39.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	12% {
		background: linear-gradient(43.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	13% {
		background: linear-gradient(46.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	14% {
		background: linear-gradient(50.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	15% {
		background: linear-gradient(54deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	16% {
		background: linear-gradient(57.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	17% {
		background: linear-gradient(61.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	18% {
		background: linear-gradient(64.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	19% {
		background: linear-gradient(68.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	20% {
		background: linear-gradient(72deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	21% {
		background: linear-gradient(75.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	22% {
		background: linear-gradient(79.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	23% {
		background: linear-gradient(82.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	24% {
		background: linear-gradient(86.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	25% {
		background: linear-gradient(90deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	26% {
		background: linear-gradient(93.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	27% {
		background: linear-gradient(97.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	28% {
		background: linear-gradient(100.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	29% {
		background: linear-gradient(104.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	30% {
		background: linear-gradient(108deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	31% {
		background: linear-gradient(111.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	32% {
		background: linear-gradient(115.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	33% {
		background: linear-gradient(118.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	34% {
		background: linear-gradient(122.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	35% {
		background: linear-gradient(126deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	36% {
		background: linear-gradient(129.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	37% {
		background: linear-gradient(133.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	38% {
		background: linear-gradient(136.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	39% {
		background: linear-gradient(140.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	40% {
		background: linear-gradient(144deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	41% {
		background: linear-gradient(147.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	42% {
		background: linear-gradient(151.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	43% {
		background: linear-gradient(154.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	44% {
		background: linear-gradient(158.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	45% {
		background: linear-gradient(162deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	46% {
		background: linear-gradient(165.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	47% {
		background: linear-gradient(169.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	48% {
		background: linear-gradient(172.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	49% {
		background: linear-gradient(176.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	50% {
		background: linear-gradient(180deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	51% {
		background: linear-gradient(183.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	52% {
		background: linear-gradient(187.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	53% {
		background: linear-gradient(190.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	54% {
		background: linear-gradient(194.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	55% {
		background: linear-gradient(198deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	56% {
		background: linear-gradient(201.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	57% {
		background: linear-gradient(205.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	58% {
		background: linear-gradient(208.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	59% {
		background: linear-gradient(212.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	60% {
		background: linear-gradient(216deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	61% {
		background: linear-gradient(219.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	62% {
		background: linear-gradient(223.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	63% {
		background: linear-gradient(226.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	64% {
		background: linear-gradient(230.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	65% {
		background: linear-gradient(234deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	66% {
		background: linear-gradient(237.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	67% {
		background: linear-gradient(241.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	68% {
		background: linear-gradient(244.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	69% {
		background: linear-gradient(248.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	70% {
		background: linear-gradient(252deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	71% {
		background: linear-gradient(255.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	72% {
		background: linear-gradient(259.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	73% {
		background: linear-gradient(262.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	74% {
		background: linear-gradient(266.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	75% {
		background: linear-gradient(270deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	76% {
		background: linear-gradient(273.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	77% {
		background: linear-gradient(277.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	78% {
		background: linear-gradient(280.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	79% {
		background: linear-gradient(284.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	80% {
		background: linear-gradient(288deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	81% {
		background: linear-gradient(291.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	82% {
		background: linear-gradient(295.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	83% {
		background: linear-gradient(298.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	84% {
		background: linear-gradient(302.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	85% {
		background: linear-gradient(306deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	86% {
		background: linear-gradient(309.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	87% {
		background: linear-gradient(313.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	88% {
		background: linear-gradient(316.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	89% {
		background: linear-gradient(320.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	90% {
		background: linear-gradient(324deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	91% {
		background: linear-gradient(327.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	92% {
		background: linear-gradient(331.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	93% {
		background: linear-gradient(334.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	94% {
		background: linear-gradient(338.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	95% {
		background: linear-gradient(342deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	96% {
		background: linear-gradient(345.6deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	97% {
		background: linear-gradient(349.2deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	98% {
		background: linear-gradient(352.8deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	99% {
		background: linear-gradient(356.4deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
	100% {
		background: linear-gradient(360deg, rgba(60,153,111,1) 0%, rgba(179,27,158,1) 40%, rgba(217,201,51,1) 100%);
	}
}